@page "/Login"

@if (IsError)
{
    @foreach (var error in Errors)
    {
        <h3>@error</h3>
    }

}

<PageTitle>Login</PageTitle>

<div class="d-flex justify-center align-content-center flex-wrap" style="height:100vh">

    <MudStack Justify="Justify.Center"
              AlignItems="AlignItems.Center"
              Spacing="0">
        <MudImage Src="Images/Tarekuser.png"
                  Alt="logo"
                  Elevation="0"
                  Height="100" />




        <MudPaper Class="pa-4 mt-5" Elevation="7" MinWidth="350px">

            <MudText Align="Align.Center" Typo="Typo.h4" Class="mb-4">Login</MudText>

            <EditForm Model="@userlogin" OnValidSubmit="LoginModel">
                <DataAnnotationsValidator />
                <MudTextField @bind-Value="userlogin.UserName"
                              For="@(() => userlogin.UserName)"
                              Label="User Name"
                              MaxLength=50
                              HelperText="Plaese Enter User Name"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                                    HelperTextOnFocus />
                <MudTextField @bind-Value="userlogin.Password"
                              For="@(() => userlogin.Password)"
                              Label="Password"
                              MaxLength=50
                              HelperText="Plaese Insert Password"
                              Variant="Variant.Outlined"
                              InputType="InputType.Password"
                              Margin="Margin.Dense"
                                    HelperTextOnFocus />
                <div class="d-flex align-center justify-space-between mt-0">
                    <MudCheckBox @bind-Checked="@RememberMe"
                                 @onchange="CheckRememberMe"
                                 Class="ml-n1"
                                 Size="Size.Small"
                                          Dense
                                 Color="Color.Dark"
                                 Label="Remeber Me" />
                    <MudLink Typo="Typo.body2">Forget Password</MudLink>
                </div>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Dark"
                              FullWidth
                           ButtonType="ButtonType.Submit"
                           Class="mt-6">Login</MudButton>
                </EditForm>

                </MudPaper>
                </MudStack>




            </div>
@*<MudContainer Style="max-height: 80vh;overflow-y: scroll;" Class="py-2">
    <EditForm Model="@userlogin" OnValidSubmit="LoginModel">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudGrid>



                    <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="UserName"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your UserNmae"
                                        HelperTextOnFocus
                                      @bind-Value="userlogin.UserName"
                                      For="@(() => userlogin.UserName)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>
               
                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="Password"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your Password"
                                        HelperTextOnFocus
                                      @bind-Value="userlogin.Password"
                                      For="@(() => userlogin.Password)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>  
                        
                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudCheckBox @bind-Checked="@RememberMe" @onchange="CheckRememberMe" Color="Color.Primary" Label="Remember Me"></MudCheckBox>


                        </MudItem>
            

                        </MudGrid>




                        </MudCardContent>
                        <MudCardActions >

                      
                    <MudButton  ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               FullWidth
                               Color=Color.Success>

                        Login

                    </MudButton>
                    <MudButton Class="ms-2" ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               FullWidth
                               Color=Color.Info
                               OnClick="GoToRegisterUser">

                        Register

                    </MudButton>
                      
                </MudCardActions>
                </MudCard>

                </EditForm>
                </MudContainer>
*@