@page "/users"
<div>
  <MudTable Items="@applicationUsers"
              T="IdentityServerAccountJwt.Shared.Models.ApplicationUser"
              Dense="true"
              Hover="true"
              Bordered="true"
              Striped="true"
              Breakpoint="Breakpoint.MdAndDown"
              FixedHeader
              Height="50vh"
              Style="margin-bottom:20px"
     RowsPerPage="10">
        <NoRecordsContent>
      Users Not Found
        </NoRecordsContent>
         <ToolBarContent>
        
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
             <MudTh>User Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Roles</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
             <MudTd>@context.UserName</MudTd>

            <MudTd>@context.Email</MudTd>
            <MudTd>@context.UserRoles</MudTd>
            <MudTd id="Active">
                                <MudStack  Row
                                          Justify=Justify.Center
                                          Spacing=2>
                          
                                    <MudTooltip Placement="Placement.Bottom"
                                                Arrow
                                Text="Get User By Name"
                                                RootStyle="width: fit-content;"
                                                Inline>
                                        <MudButton StartIcon="@Icons.Material.Filled.Edit"
                                                       Size=Size.Small
                                                       Color=Color.Primary
                                                       Variant="Variant.Filled"
                                   OnClick="(()=>GetUserByName(context.UserName))">
                            Get User By Name
                                                   </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Placement="Placement.Bottom"
                                                Arrow
                                Text="Get User By Email"
                                                RootStyle="width: fit-content;"
                                                Inline>
                                        <MudButton StartIcon="@Icons.Material.Filled.Delete"
                                                       Color=Color.Error
                                                       Size=Size.Small
                                                       Variant="Variant.Filled"
                                   OnClick="(()=>GetUserByEmail(context.Email))">
                            Get User By Email
                                                   </MudButton>
                                    </MudTooltip>
                                    <MudTooltip Placement="Placement.Bottom"
                                                Arrow
                                Text="Manage Roles"
                                                RootStyle="width: fit-content;"
                                                Inline>
                                        <MudButton StartIcon="@Icons.Material.Filled.Cyclone"
                                                       Color=Color.Dark
                                                       Size=Size.Small
                                                       Variant="Variant.Filled"
                                   OnClick="(()=>GetUserRoles(context.Id))">
                            Manage Roles
                                                   </MudButton>
                                    </MudTooltip>

                                </MudStack>
                            </MudTd>
        </RowTemplate>
                <PagerContent>

 
        </PagerContent>
    </MudTable>
</div>
                 <style>
                  /*  #Active{
                        background:#F5F5F5;
                    }*/
                    .mud-table-striped .mud-table-container .mud-table-root .mud-table-body .mud-table-row:nth-of-type(even){
                         background-color:#F1F1F1;
                    }
                    .mud-table-striped .mud-table-container .mud-table-root .mud-table-body .mud-table-row:nth-of-type(even) td{
                         color:#000
                    }
                    .mud-table-striped .mud-table-container .mud-table-root .mud-table-body .mud-table-row:nth-of-type(even):hover{
                          background-color:#F1F1F1;
                    }
                    .mud-table-root .mud-table-body:last-child .mud-table-row:last-child .mud-table-cell{
                          border-bottom:1px solid #ffffff1e;
                    }
                    .mud-table-cell{
                          border: 1px solid #ffffff1e;
                    }
                    #info_button{
                          background:#17a2b8;
                    }
                    #info_button span.mud-button-label{
                          color:#fff;
                    }
                </style>