@page "/changepassword/{Username}"

@if (Ischangepassword)
{
    @foreach (var error in Errors)
    {
        <h3>@error</h3>
    }

}
<MudContainer Style="max-height: 80vh;overflow-y: scroll;" Class="py-2">
    <EditForm Model="@ChangePasswordDto" OnValidSubmit="SaveChangePassword">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudGrid>


                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="Current Password"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your Current Password"
                                        HelperTextOnFocus
                                      @bind-Value="ChangePasswordDto.CurrentPassword"
                                      For="@(() =>ChangePasswordDto.CurrentPassword)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>
                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="New Password"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your New  Password"
                                        HelperTextOnFocus
                                      @bind-Value="ChangePasswordDto.NewPassword"
                                      For="@(() => ChangePasswordDto.NewPassword)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>
                        <MudItem xs="12" sm="12" Class="py-0">
                        <MudTextField Label="Confirm Password"
                                      MaxLength=50
                                      Class="mt-4"
                                      Immediate="false"
                                      HelperText="Enter Your Confirm Password"
                                        HelperTextOnFocus
                                      @bind-Value="ChangePasswordDto.ConfirmPassword"
                                      For="@(() => ChangePasswordDto.ConfirmPassword)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />

                        </MudItem>

                        </MudGrid>




                        </MudCardContent>
                        <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           FullWidth
                           Color=Color.Dark>

                    Change Password

                </MudButton>
                </MudCardActions>
                </MudCard>

                </EditForm>
                </MudContainer>